body {
    font-family: 'Inter', sans-serif;
  }
  
  .nav-link.active {
    font-weight: bold;
  }
  
  .sidebar {
    height: 100vh;
    position: fixed;
  }
  
  .main-content {
    margin-left: 15rem;
    padding: 1rem;
  }
  